@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-1000 {
        animation-delay: 1s;
    }
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-3000 {
        animation-delay: 3s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

/*Browser scroll bar. Only going to work on Chrome, Firefox and Edge*/
::-webkit-scrollbar{
    width: 16px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #ff9900);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #9900ff);
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    mix-blend-mode: difference;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.cursor-text {
    font-size: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    display: none;
}

/* xD Done with the stuff */
.wavy {
    background: linear-gradient(
            to right,
            #00f260,
            #0575e6);

    --mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%) calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px calc(51% - 25px) repeat-x,
    radial-gradient(50.39px at 50% calc(100% - 68.75px), #000 99%, #0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(50.39px at 50% calc(100% + 43.75px), #0000 99%, #000 101%) 50% calc(100% - 25px)/100px calc(51% - 25px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

}

.wavy-footer {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    --mask: radial-gradient(52.20px at 50% 65.00px, #000 99%, #0000 101%) calc(50% - 100px) 0/200px 51% repeat-x,
    radial-gradient(52.20px at 50% -15px, #0000 99%, #000 101%) 50% 50px/200px calc(51% - 50px) repeat-x,
    radial-gradient(52.20px at 50% calc(100% - 65.00px), #000 99%, #0000 101%) calc(50% - 100px) 100%/200px 51% repeat-x,
    radial-gradient(52.20px at 50% calc(100% + 15.00px), #0000 99%, #000 101%) 50% calc(100% - 50px)/200px calc(51% - 50px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.wavy-testimonial {
    background: #00C9FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    --mask: radial-gradient(164.01px at 50% 230.00px, #000 99%, #0000 101%) calc(50% - 200px) 0/400px 51% repeat-x,
    radial-gradient(164.01px at 50% -130px, #0000 99%, #000 101%) 50% 100px/400px calc(51% - 100px) repeat-x,
    radial-gradient(164.01px at 50% calc(100% - 230.00px), #000 99%, #0000 101%) calc(50% - 200px) 100%/400px 51% repeat-x,
    radial-gradient(164.01px at 50% calc(100% + 130.00px), #0000 99%, #000 101%) 50% calc(100% - 100px)/400px calc(51% - 100px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.extra-bg {
    background-image: url("../public/landingpage/stacked-waves-haikei.svg");
    background-repeat: repeat-x;
}

.h1-sp-effect:hover .h1-sp-effect-span {
    left: 0;
    width: 100%;
}

/*Login Form Section*/
.login-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    font-family: 'El Messiri', sans-serif;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.box {
    position: relative;
}

.square {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    /*noinspection CssUnresolvedCustomProperty*/
    animation-delay: calc(-1s * var(--i));
}

@keyframes square {
    0%, 100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

.square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: -15px;
    right: -45px;
}

.square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 105px;
    left: -125px;
    z-index: 2;
}

.square:nth-child(3) {
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
}

.square:nth-child(4) {
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: -95px;
}

.square:nth-child(5) {
    width: 50px;
    height: 50px;
    top: -15px;
    left: -25px;
}

.square:nth-child(6) {
    width: 85px;
    height: 85px;
    top: 165px;
    right: -155px;
    z-index: 2;
}

.login-page-container {
    position: relative;
    padding: 50px;
    width: 450px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.login-page-container::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
    );
}

@keyframes gradient-login-x {
    0%,
    100% {
        background-size: 200% 200%;
        background-position: left center;
    }
    50% {
        background-size: 200% 200%;
        background-position: right center;
    }
}

.login-button-animate-gradient-x {
    animation: gradient-login-x 5s ease-in-out infinite;
}

/* Tool Tip stuff going on here */
.tooltip {
    position: relative;
}

.tooltip:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: calc(100% + 5px);
    transform: translateX(-50%);
    padding: 8px 12px;
    background-color: black;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 4px;
}

.tooltip:hover:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: calc(100% + 1px);
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: black;
}

/* Done with the tooltip stuff */

/* Doing registration page part */
.registration-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #d0522b, #3ce758, #39bfef, #7b19d7);
    background-size: 400% 400%;
    /*animation: gradient 10s ease infinite;*/
    animation: gradient-login-x 12s ease-in-out infinite;
    font-family: 'El Messiri', sans-serif;
    overflow: auto;
}

.circle {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: square 10s linear infinite;
    /*noinspection CssUnresolvedCustomProperty*/
    animation-delay: calc(-1s * var(--i));
}

.circle:nth-child(2) {
    width: 150px;
    height: 150px;
    top: -75px;
    left: -105px;
}

.circle:nth-child(5) {
    width: 100px;
    height: 100px;
    top: 75px;
    left: -105px;
}

.circle:nth-child(7) {
    width: 100px;
    height: 100px;
    top: 275px;
    left: -105px;
}

/*.google-icon {*/
/*    background: linear-gradient(to right, #4285F4, #DB4437, #F4B400, #0F9D58);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

/* Quiz Container part */
.react-quiz-container {
    margin: 20px;
    width: 500px
}

.react-quiz-container .startQuizWrapper {
    margin-top: 10px;
}

.react-quiz-container .btn {
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    padding: 11px 12px;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.react-quiz-container .questionWrapper .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;;
    font-size: 15px;
    display: block;
    white-space: normal;
    text-align: unset;
}

.react-quiz-container .questionWrapper .btn.correct {
    background: green;
    color: white;
}

.react-quiz-container .questionModal .alert {
    padding: 20px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
}

.react-quiz-container .correct {
    background: green;
}

.react-quiz-container .incorrect {
    background: red;
    color: white;
}

.react-quiz-container .questionWrapper img {
    width: 100%;
}

.react-quiz-container .answerBtn {
    width: 100%;
}

.react-quiz-container .selected {
    background: #007bff;
    color: white;
}

.react-quiz-container .startQuizWrapper .startQuizBtn {
    font-size: 15px;
    border-radius: 2px;
    line-height: 1.35135;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.react-quiz-container .result-answer-wrapper {
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.react-quiz-container .result-answer-wrapper h3 {
    background-color: #fafafa;;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.9);
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.react-quiz-container .result-answer-wrapper .explanation {
    padding: 20px;
    margin: 0px 20px 20px 20px;
    border: 1px solid #e8e8e8;
}

.react-quiz-container .result-answer-wrapper .tag-container {
    margin: 20px;
}

.react-quiz-container .result-answer {
    padding: 0px 20px;
}

.react-quiz-container .quiz-synopsis {
    margin: 15px 0px;
}

.react-quiz-container .quiz-result-filter {
    overflow: hidden;
    width: 120px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fefefe;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
}

.react-quiz-container .quiz-result-filter select {
    background: transparent;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid #ffffff;
}

.react-quiz-container .tag-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.react-quiz-container .selection-tag,
.react-quiz-container .number-of-selection {
    padding: 7px;
    border-radius: 5px;
    color: #ffffff;
}

.react-quiz-container .number-of-selection {
    background: #673AB7;
    margin-left: 5px;
}

.react-quiz-container .selection-tag.single {
    background: #3F51B5;
}

.react-quiz-container .selection-tag.multiple {
    background: #FF9800;
}

.react-quiz-container .selection-tag.segment {
    background: #3db4b9;
    margin-left: 5px;
}

.react-quiz-container .questionBtnContainer {
    display: flex;
    justify-content: space-between;
}
/*I will later convert them to tailwind css right in the components*/